.cover {
  border: 5px solid rgba(128, 128, 128, 0.671);
  text-align: center;
}

.cover h1 {
  margin: 0;
  font-size: 28px;
}
.cover h2 {
  margin: 0;
  font-size: 25px;
  color: red;
}

.cover p {
    margin-top: 0;
    font-size: 20px;
}

.all {
  width: 100%;
  height: auto;
}

span {
  font-size: 14px;
}

.link {
  color: rgb(0, 119, 255);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .cover h1 {
    font-size: 24px;
  }
  .cover h2 {
    font-size: 20px;
  }
  
  .cover p {
      font-size: 16px;
  }
  
  span {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cover h1 {
    font-size: 16px;
  }
  .cover h2 {
    font-size: 14px;
  }
  
  .cover p {
      font-size: 12px;
  }
  
  span {
    font-size: 9px;
  }
  
  .link {
    font-size: 12px;
  }
  
  .link:hover {
    font-size: 15px;
  }
}