.pic {
  background-image: linear-gradient(
    to bottom,
    rgba(247, 194, 150, 0.5),
    rgba(247, 194, 150, 0.1)
  );
  width: 100%;
  height: 30vh;
  display: flex;
}

.image {
  flex: 10%;
}

.text {
  flex: 60%;
  font-family: "Pacifico", cursive;
  font-size: 7.5vh;
  text-align: left;
  padding-left: 5vw;
}

.textSmall {
  position: absolute;
  font-size: 2vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.runway {
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(250, 0, 0);
}

.info {
  flex: 30%;
  text-align: center;
  font-size: 3vh;
  padding: 8.5vh;
}

@media (max-width: 768px) {
  .pic {
    background-size: 30%;
    width: 100%;
    height: 20vh;
  }

  .text {
    padding-left: 2vw;
    font-size: 5vh;
  }

  .textSmall {
    font-size: 1.5vh;
  }

  .info {
    font-size: 2vh;
    padding: 6vh;
  }
}
