.pic{
    background-image: url("./image/white-background.jpg");
    background-size: 40%;
    background-position: center;
    width: 100%;
    height: 30vh;
    margin-bottom: 5vh;
    position: relative;
}

.image{
    height: 30vh;
    margin-right: 5vw;
    float: left;
}

.text{
    font-family: 'Pacifico', cursive;
    padding: 5vh 0 5vh 0;
    font-size: 7.5vh;
    height: 20vh;
    width: 80%;
    margin: 0px;
}

.textSmall{
    position: absolute;   
    text-align: left;
    font-size: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    margin-top: 0vh;
}

.runway{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(250, 0, 0);
}

.info{
    top: 0vh;
    right: 5vw;
    width: fit-content;
    height: 6vh;
    padding: 12vh 0;
    margin: 0px;
    text-align: center;
    font-size: 3vh;
    position: absolute;
}

@media (max-width : 768px){
    .pic{
        background-size: 30%;
        width: 100%;
        height: 20vh;
    }
    
    .image{
        height: 20vh;
        margin-right: 3vw;
    }
    
    .text{
        padding: 2.5vh 0;
        font-size: 5vh;
        height: 15vh;
        width: 70%;
    }
    
    .textSmall{
        font-size: 1.5vh;
    }
    
    .info{
        height: 2vh;
        padding: 9vh 0;
        font-size: 2vh;
    }
}