.addButton{
    position: fixed;
    right: 5px;
    bottom: 0vh;
    width: 120px;
    height: auto;
    font-size: 17px;
    text-align: center;
    border: 1px solid black;
    z-index: 20;
    background-color: chartreuse;
}

.addButton:hover{
    background-color: yellow;
    cursor: pointer;
}