.addButton {
  text-align: center;
  font-size: 16px;
  width: 100px;
  height: fit-content;
  padding: 0px;
  border: 5px solid rgba(207, 250, 250, 0.8);
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgba(207, 250, 250, 0.6);
}

.addButton:hover {
  font-size: 18px;
  width: 110px;
  height: fit-content;
  border: 5px solid rgba(207, 250, 250, 0.9);
  margin-top: 10px;
  background-color: rgba(207, 250, 250, 0.7);
  cursor: pointer;
}

@media (max-width: 768px) {
  .addButton {
    font-size: 14px;
    width: 90px;
  }
  
  .addButton:hover {
    font-size: 16px;
    width: 95px;
  }
}

@media (max-width: 480px) {
  .addButton {
    font-size: 10px;
    width: 80px;
    height: 27px;
  }
  
  .addButton:hover {
    font-size: 12px;
    width: 85px;
    height: 29px;
  }
}