.form {
  padding: 5px;
  margin: 10px 0;
  border: 5px solid rgb(15, 15, 15, 0.75);
  border-radius: 10px;
  background-color: rgb(245, 242, 237);
}

.addForm {
  text-align: center;
  text-decoration: underline;
  margin: 0px 0 20px 0;
  text-shadow: 2px 2px rgb(41, 41, 41, 0.3);
}

.formControl {
  padding: 1px;
}
.formControl label {
  font-size: 20px;
}
.formControl select {
  font-size: medium;
  height: 21px;
  padding: 0;
}
.formControl input {
  font-size: medium;
  height: 17px;
  padding: 0;
}
.invalid input,
.invalid select {
  color: red;
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.inputOther {
  display: inline-block;
  font-size: medium;
  height: 17px;
  width: 150px;
  padding: 0px;
  margin-left: 84px;
}

/*selling bottles*/
.inputBlock {
  margin: 5px 0px 5px 20px;
}
.sellList {
  font-size: 15px;
  color: rgb(117, 112, 112);
  margin: 5px 0px 5px 0px;
}
.textSell {
  font-size: medium !important;
  color: red;
  margin-right: 10px;
}
.inputSell {
  border: 1px solid black;
  width: 80px;
  margin-right: 10px;
}
.hide {
  display: none;
}

.check {
  margin-top: 10px;
  width: 23px;
  height: 17px;
}

.check:hover {
  width: 26px;
  height: 20px;
}

span {
  font-size: medium;
}

.error {
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  color: rgb(133, 30, 30);
  margin: 0px 0 8px 15px;
}

.buttonAdd {
  font-size: 14px;
  color: white;
  background-color: rgb(94, 168, 230);
  border-radius: 15px;
  width: 50px;
  padding: 2px;
  margin-top: 15px;
  margin-right: 5px;
}

.buttonClose {
  font-size: 14px;
  color: white;
  background-color: rgb(187, 81, 81);
  border-radius: 15px;
  width: 50px;
  padding: 2px;
  margin-top: 15px;
  margin-right: 5px;
}

.buttonAdd:hover {
  background-color: rgb(50, 150, 231);
  cursor: pointer;
}
.buttonAdd:disabled {
  color: rgb(14, 13, 13);
  background-color: rgb(156, 154, 154);
  cursor: not-allowed;
}

.buttonClose:hover {
  background-color: rgb(163, 47, 47);
  cursor: pointer;
}

@media (max-width: 900px) {
  .sellList {
    display: none;
  }
  .hide {
    display: block;
  }
}

@media (max-width: 768px) {
  .textSell {
    font-size: 14px !important;
  }
  .inputSell {
    border: 1px solid black;
    width: 50px;
    margin-right: 10px;
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .form {
    padding: 2px;
    border: 2px solid rgb(15, 15, 15, 0.75);
  }
  
  .addForm {
    font-size: 20px;
    margin: 0px 0 10px 0;
  }
  
  .formControl label {
    font-size: 16px;
  }
  .formControl select {
    font-size: small;
    height: 20px;
  }
  .formControl input {
    font-size: small;
    width: 80%;
    height: 15px;
  }
  
  .inputOther {
    font-size: small;
    width: 80%;
    margin-left: 0px;
  }
  
  .inputBlock {
    margin: 0 15px;
  }
    
  .check {
    margin-top: 5px;
    width: 20px;
    height: 15px;
  }
  
  .check:hover {
    width: 22px;
    height: 17px;
  }
  
  span {
    font-size: 12px;
  }
  
  .error {
    font-size: 12px;
    margin: 0px 0 5px 0px;
  }
  
  .buttonAdd {
    font-size: 12px;
    width: 40px;  
    margin-top: 10px;
  }
  
  .buttonClose {
    font-size: 12px;
    width: 40px;
    margin-top: 10px;
  }
}