input {
    width: 25%;
}

h2 {
    margin: 10px 0 2px 0;
    text-decoration: underline;
}

h3 {
    margin: 15px 0;
}

h4 {
    margin: 10px 0;
    text-decoration: underline;
}

p {
    margin: 4px 0;
}

span {
    font-size: 16px;
    font-weight: normal;
}