h2 {
    margin: 10px 0 2px 0;
    text-decoration: underline;
}

h3 {
    margin: 15px 0;
    font-size: 1rem;
}

@media (max-width: 480px) {
    h2 {
        font-size: 16px;
        margin: 6px 0 1px 0;
    }

    h3 {
        font-size: 13px;
        margin: 5px 0;
    }
}