div{
    align-items: center;
    margin: 0px;
}

.editPencil{
    width: 30px;
    height: 30px;
}

.deleteIcon{
    width: 30px;
    height: 30px;
}

.editPencil:hover, .deleteIcon:hover{
    width: 40px;
}