th{
    font-size: 90%;
    display: flex;
    justify-content: center;
    padding: 5px 1%;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
}

.cate{
    border-radius: 10px 0 0 0;
}

.edit{
    border-radius: 0 10px 0 0;
}

@media (max-width: 768px) {
    th {
        font-size: 55%;
    }
}

@media (max-width: 480px) {
    th {
        font-size: 40%;
    }
}