th{
    text-align: center;
    width: 100px;
    padding: 3px;
    height: 4vh;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
}

.cate{
    border-radius: 10px 0 0 0;
}

.edit{
    border-radius: 0 10px 0 0;
}

.detail{
    width: 350px;
    max-width: 400px;
    overflow-x:scroll;
}