tr:nth-of-type(even) {
  background: white;
}

tr:nth-of-type(odd) {
  background: rgb(238, 238, 238);
}

.category {
  border: 0.5px solid rgb(150, 147, 147);
  text-align: center;
  padding: 3px;
  width: 150px;
  height: 4vh;
  font-size: 1.2vw;
}

td {
  border: 0.5px solid rgb(150, 147, 147);
  text-align: center;
  padding: 3px;
  height: 4vh;
  font-size: 1.2vw;
}

input.trick {
  width: 15px;
  height: 15px;
}

input.trick:hover {
  width: 20px;
  height: 20px;
}

.icon {
  padding-top: 5px;
  margin: 0 5px;
  width: 20px;
  height: 20px;
}

.icon:hover {
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar {
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .category {
    font-size: 1.5vw;
  }

  td {
    font-size: 1.5vw;
  }

  input.trick:hover {
    width: 17px;
    height: 17px;
  }

  .icon {
    width: 12px;
    height: 12px;
  }

  .icon:hover {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 480px) {
  .category {
    height: 2vh;
    font-size: 2vw;
  }

  td {
    height: 2vh;
    font-size: 2vw;
  }

  input.trick {
    width: 10px;
    height: 10px;
  }

  input.trick:hover {
    width: 12px;
    height: 12px;
  }

  .icon {
    padding: 0;
    margin: 0 2px;
    width: 8px;
    height: 8px;
  }

  .icon:hover {
    width: 10px;
    height: 10px;
  }
}
