tr:nth-of-type(even) {
  background: white;
}

tr:nth-of-type(odd) {
  background: rgb(238, 238, 238);
}

td {
  border: 0.5px solid rgb(150, 147, 147);
  text-align: center;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  height: 7vh;
}

/*detail*/
.detail {
  display: inline-block;
  overflow-x: scroll;
  display: flex;
  align-items: center;
}
.detail::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.detail::-webkit-scrollbar
{
	width: 12px;
  height: 7px;
	background-color: #F5F5F5;
}
.detail::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*trick block*/
input.trick {
  width: 50%;
  height: 50%;
}
input.trick:hover {
  width: 65%;
  height: 65%;
}

/*edit block*/
.icon {
  width: 20px;
  height: 30px;
}

.icon:hover {
  width: 22px;
  height: 32px;
}


@media (max-width: 768px) {
  td {
    height: 5vh;
  }

  .icon {
    width: 18px;
    height: 25px;
  }
  .icon:hover {
    width: 20px;
    height: 27px;
  }

  input.trick {
    width: 15px;
    height: 15px;
  }
  input.trick:hover {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  td {
    font-size: 2vw;
  }

  .icon {
    width: 10px;
    height: 14px;
  }
  .icon:hover {
    width: 12px;
    height: 16px;
  }


  input.trick {
    width: 20px;
    height: 20px;
  }
  input.trick:hover {
    width: 20px;
    height: 20px;
  }
}

