.cardStaw {
  margin: 10px 10% 5% 10%;
  background-image: url('../img/stawBack.png');
  background-position: left top;
  background-size: 120%;
  border: 5px solid rgba(128, 128, 128, 0.671);
}

.cardBana {
  margin: 10px 10% 5% 10%;
  background-image: url("../img/banaBack.jpg.png");
  background-position: left top;
  background-size: 120%;
  border: 5px solid rgba(128, 128, 128, 0.671);
}

.cardChoc {
  margin: 10px 10% 5% 10%;
  background-image: url("../img/chocBack.png");
  background-position: left top;
  background-size: 120%;
  border: 5px solid rgba(128, 128, 128, 0.671);
}

.head {
  font-size: xx-large;
  margin-bottom: 10px;
  text-align: left;
}

.staw {
  font-size: xx-large;
  font-weight: bold;
  color: rgb(240, 61, 136);
  text-decoration: underline;
}
.bana {
  font-size: xx-large;
  font-weight: bold;
  color: rgb(194, 147, 47);
  text-decoration: underline;
}
.choc {
  font-size: xx-large;
  font-weight: bold;
  color: rgb(131, 69, 69);
  text-decoration: underline;
}

.pic {
  width: 7%;
  height: 4%;
  margin: 0 5%;
  padding: 0;
}

.container p {
  display: inline-block;
}

.info {
  text-align: left;
  margin: 5%;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0 0 5% 5%;
}

.link:hover {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

@media(max-width: 768px) {
  .head {
    font-size: x-large;
  }
  
  .staw {
    font-size: x-large;
  }
  .bana {
    font-size: x-large;
  }
  .choc {
    font-size: x-large;
  }
  
  .pic {
    width: 10%;
  }
}

@media(max-width: 480px) {
  .head {
    font-size: x-large;
  }
  
  .staw {
    font-size:  x-large;
  }
  .bana {
    font-size:  x-large;
  }
  .choc {
    font-size:  x-large;
  }
  
  .pic {
    width: 20%;
    margin: 0;
  }
  
  .info {
    margin: 8%;
  }
}