.cover {
  border: 5px solid rgba(128, 128, 128, 0.671);
  text-align: center;
}

.cover h1 {
  margin-top: 5%;
  font-size: 28px;
}

.image {
  width: 100%;
  height: auto;
}

h1 a {
  text-decoration: none;
  color: rgb(47, 0, 255);
  font-weight: bold;
}

h1 a:hover {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .cover {
    border: 3px solid rgba(128, 128, 128, 0.671);
  }

  .cover h1 {
    font-size: 20px;
  }

  h1 a:hover {
    font-size: 22px;
  }
}
